{% extends 'base.html.twig' %}

{% block body %}
<h1>Automillions</h1>
<h3>{{ 'Bet with '~ size ~' numbers and '~ stars ~'stars' }}</h3>
<ul>
    <li><strong>Numbers</strong></li>
    {% for number in bet.numbers %}
        <li>{{ number }}</li>
    {% endfor %}
</ul>

<ul>
    <li><strong>Stars</strong></li>
    {%  for star in bet.stars %}
        <li>{{ star }}</li>
    {%  endfor %}
</ul>
{% endblock %}