{% extends 'base.html.twig' %}

{% block body %}
<h1>Totoloto</h1>
    <h3>{{ 'Bet with '~ size ~' numbers' }}</h3>

<ul>
    <li><strong>Numbers</strong></li>
    {% for number in bet.numbers %}
        <li>{{ number }}</li>
    {% endfor %}
</ul>

{% endblock %}